@tailwind base;
@tailwind components;
@tailwind utilities;

/* Have to keep this here b/c it's a daisyUI component */
.table thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.tabs {
  margin-bottom: 20px;
  border-radius: 5px;
}
