@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-width: 100vh;
}

.waiting-sidebar {
  padding: 20px;
}

.tabs {
  margin-bottom: 20px;
}

.processing {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 50px;
  text-align: center;
}

.staff-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.staff-container h2 {
  margin-right: 10px;
}

.thin-button {
  padding: 4px 20px;
  border-radius: 30px;
}

.edit-button {
  margin-bottom: 12px;
  font-size: medium;
}

.plus-button {
  padding: 4px 20px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

.card-container * {
  margin-left: 16px;
}

.card-btns {
  margin-right: 24px;
}

.card-btns * {
  width: 100%;
}

.statuses * {
  margin-right: 24px;
}
