.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure items are vertically centered */
  flex-direction: row;
  margin-top: 10px;
}

.card-container * {
  margin-left: 10px; /* Reduce margin */
}

.youth-info {
  width: 120px;
}

.card-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align button to the right */
  width: auto; /* Adjust width as needed */
  margin-left: auto; /* Push the buttons to the right */
}

.card-btns * {
  width: 100%;
  margin-left: 0; /* Remove extra margin */
  margin-right: 0;
}
